<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</head>
<body>
    Turtles List
    <a class="btn btn-primary" href="/add">追加</a>
    <form action="Search by Turtlename" method="post">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Turtle</label>
          <input  name="Turtlename" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Please imput Turtle's name">
        </div>
        <button type="button" class="btn btn-info">検索</button>
    </form>
    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th>Turtle ID</th>
                <th>Turtlename</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for turtle in turtles %}
            <tr>
                <td>{{ turtle.id}}</td>
                <td>{{ turtle.name }}</td>
                 <td><a class="btn btn-success" href="/edit/{{ turtle.id }}">修正</a> </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>